@model my_final_project.Models.post
@{
    Layout = null;
}
<form asp-action="StepsToCalories" method="post">
    <div style="text-align:center">
        <label asp-for="Steps">Step:</label>
        <input asp-for="Steps" />
    </div>
    <div style="text-align:center">
    <input type="submit" value="submit" />
    </div>
</form>